	body {
	background-image: url('upfeathers.png');
	background-repeat: repeat;
	}
	
	.title {
	width: 100%;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: transparent;
	}
	
	.search-container {
		width: 75%;
		margin: 20px auto;
		min-width: 300px;
		margin-top: -70px;
	}
	
	#search {
		text-align: center;
	}
	
	.advanced {
	opacity: .4;
	}
	
		.advanced:hover {
	opacity: 1;
	}
	
/* relevant styles */

.thumbnail_wrap {
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif;

  margin: 0 auto;
}

.descrip_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(128, 128, 128, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.thumbnail_wrap:hover .descrip_layer {
  visibility: visible;
  opacity: 1;
}

.descrip_text {
  transition: .2s;
  transform: translateY(1em);
  position: relative;
  top: 15%;
  text-align: center;
}

.thumbnail_wrap:hover .descrip_text {
  transform: translateY(0);
}

#name {
  font-size: 40px;
}

#stars {
  font-size: 30px;
}

#cost {
  font-size: 30px;
}

#location {
  font-size: 30px;
}

#description {
  font-size: 30px;
}

	/* unvisited link */
	a:link {
		color: white;
	}

	/* visited link */
	a:visited {
		color: white;
	}

	/* mouse over link */
	a:hover {
		color: gray;
	}

	/* selected link */
	a:active {
		color: grey;
	}
	
	ul {
		width: 85%;
		list-style-type: none;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 20px;
		padding: 0;
		overflow: hidden;
		background-color: #145e11;
		border-radius: 4px;
		margin: 20px auto;
		min-width: 300px;
		margin-top: -10px;
		white-space:nowrap;
		text-align: center;
		
	}

	li {
		position: relative; 
		display: inline-block; 
	
		
	}

	li a {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover:not(.active) {
		background-color: #177314;
	}
	
	.jumbotron {
	margin: 0;
	padding: 0;
	}